body {
    font-family: Monaco, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a.active {
    color: #0077cc;
}

main {
    width: 85%;
    max-width: 960px;
    margin: 40px auto;
}

@media (max-width: 600px) {
    main {
        width: 95%;
    }

    header {
        padding: 10px 0;
    }

    nav a {
        margin: 0 10px;
    }
}

img {
    width: 100%; /* Makes image responsive */
    max-width: 800px; /* Maximum width of image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Images are block level to allow for margins */
    margin: 20px auto; /* Adds vertical space and centers image horizontally */
    border-radius: 8px; /* Optional: adds rounded corners to images */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: adds subtle shadow for depth */
}
.mobile-image {
    width: 50%;  /* or any width you want */
    height: auto; /* maintain aspect ratio */
}
video {
    width: 100%; /* Makes image responsive */
    max-width: 800px; /* Maximum width of image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Images are block level to allow for margins */
    margin: 20px auto; /* Adds vertical space and centers image horizontally */
    border-radius: 8px; /* Optional: adds rounded corners to images */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: adds subtle shadow for depth */
}

table.feature-table {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Adjust width as necessary */
    border-collapse: collapse;
}

table.feature-table th, table.feature-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}